@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.login {
  background-color: #ffffff;
  display: flex;
  width: 100%;
}

.side-image {
  flex: 1;
  height: 100vh;
  background-image: url('../../assets/side-image.png');
  background-size: cover;
}

.login-panel {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 400px;
}

form > label {
  display: block;
  margin: 0.5rem 0;
}

form > input {
  width: 100%;
  border: 1px solid;
  border-color: #e7e6e4;
  border-radius: 0.75rem;
  padding: 0.75rem 2.5rem;
}

form > p {
  width: 100%;
  text-align: end;
}

button {
  background-color: #494847;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 2rem;
  border: none;
}

#separator {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #e7e6e4;
  line-height: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#separator > span {
  background: #ffffff;
  padding: 0 1rem;
}

#email {
  background-image: url('../../assets/envelopesimple.svg');
  background-repeat: no-repeat;
  background-position: left 0.5rem center;
}

#password {
  background-image: url('../../assets/locksimple.svg');
  background-repeat: no-repeat;
  background-position: left 0.5rem center;
}

#gmail {
  color: black;
  background-color: #ffffff;
  border: 2px solid #e7e6e4;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#facebook {
  background-color: #1877f2;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
} 

#apple {
  background-color: #000000;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button > img {
  padding-right: 0.5rem;
}