.login {
  background-color: #ffffff;
  display: flex;
  width: 100%;
}

.side-image {
  flex: 1;
  height: 100vh;
  background-image: url('../../assets/side-image.png');
}

.login-panel {
  background-color: red;
  flex: 1;
}
