
.button {
  align-items: center;
  border-radius: 32px;
  display: inline-flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  text-decoration: none; 
}

.button-unchecked {
  background-color: #494843;
  color: #ffffff;
}


.button-checked {
  background-color: black;
  color: white;
  cursor: pointer;
}
.button.disabled {
  opacity: 0.6; 
  pointer-events: none; 
}
