.event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    gap: 28px;
}

.search-results-text {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
}

.number-results-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
}