.form {
  width: 400px;
  font-family: 'DM Sans', sans-serif;
}

.form h1 {
  font-size: 1.6rem;
  margin: 0;
}

.form label {
  display: block;
  margin: 2rem 0 0.5rem 0;
}

.form input {
  width: 100%;
  border: 1px solid;
  border-color: #e7e6e4;
  border-radius: 0.75rem;
  padding: 0.75rem 2.5rem;
}

.form-submit {
  margin-top: 2rem;
}

.form button {
  background-color: #494847;
  color: white;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 2rem;
  border: none;
}

.form-separator {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #e7e6e4;
  line-height: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-separator span {
  background: #ffffff;
  padding: 0 1rem;
}

.form-email {
  background-image: url('../../assets/envelopesimple.svg');
  background-repeat: no-repeat;
  background-position: left 0.5rem center;
}

.form-password {
  background-image: url('../../assets/locksimple.svg');
  background-repeat: no-repeat;
  background-position: left 0.5rem center;
}

.form .gmail {
  color: black;
  background-color: #ffffff;
  border: 2px solid #e7e6e4;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form .facebook {
  background-color: #1877f2;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form .apple {
  background-color: #000000;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button img {
  padding-right: 0.5rem;
}

.form-fullname {
  display: flex;
  gap: 1.75rem;
}
