.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .box .footer-wrapper {
    border: 0px none;
    height: 344px;
    width: 1440px;
  }
  
  .box .footer {
    background-color: #f2f2f2;
    height: 344px;
    left: 0;
    mix-blend-mode: normal;
    position: fixed;
    top: 0;
    width: 1440px;
  }
  
  .box .group {
    height: 230px;
    left: 100px;
    position: relative;
    top: 48px;
    width: 1264px;
  }
  
  .box .div {
    height: 214px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 240px;
  }
  
  .box .text-wrapper {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .box .group-2 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 170px;
  }
  
  .box .img {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .box .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 49px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
  }
  
  .box .group-3 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 94px;
    width: 220px;
  }
  
  .box .group-4 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 142px;
    width: 240px;
  }
  
  .box .text-wrapper-3 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    width: 189px;
  }
  
  .box .group-5 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 190px;
    width: 240px;
  }
  
  .box .vector-wrapper {
    border-radius: 12px;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .box .vector {
    height: 12px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 12px;
  }
  
  .box .group-6 {
    height: 214px;
    left: 298px;
    position: absolute;
    top: 16px;
    width: 499px;
  }
  
  .box .group-7 {
    height: 214px;
    left: 0;
    position: absolute;
    top: 0;
    width: 102px;
  }
  
  .box .text-wrapper-4 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
  }
  
  .box .text-wrapper-5 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 94px;
  }
  
  .box .text-wrapper-6 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 142px;
  }
  
  .box .text-wrapper-7 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 190px;
  }
  
  .box .group-8 {
    height: 118px;
    left: 348px;
    position: absolute;
    top: 0;
    width: 157px;
  }
  
  .box .group-9 {
    height: 214px;
    left: 152px;
    position: absolute;
    top: 0;
    width: 142px;
  }
  
  .box .text-wrapper-8 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 78px;
  }
  
  .box .text-wrapper-9 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    width: 136px;
    text-align: left;
  }
  
  .box .text-wrapper-10 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 142px;
    width: 136px;
    text-align: left;
  }
  
  .box .overlap-group {
    background-color: #fd9788;
    border-radius: 10px;
    height: 176px;
    left: 956px;
    position: absolute;
    top: 0;
    width: 304px;
  }
  
  .box .text-wrapper-11 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 14px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 16px;
    white-space: nowrap;
  }
  
  .box .is-a-c {
    color: #000000;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 13px;
    font-weight: 500;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
    width: 277px;
  }
  
  .box .image {
    height: 45px;
    left: 16px;
    object-fit: cover;
    position: absolute;
    top: 110px;
    width: 272px;
  }
  
  .link {
    text-decoration: none;
    color: #000; /* Replace with the desired color */
  }
  