#account {
  background-color: #ffffff;
  display: flex;
  width: 100%;
}

#account-side-image {
  flex: 1;
  min-height: 100vh;
  max-height: 100%;
  background-image: url('../../assets/side-image.svg');
  background-size: cover;
}

#account-side-form {
  flex: 1;
  display: flex;
  justify-content: center;
}

#account-form-container {
  margin-bottom: 4rem;
  width: 80%;
}

#account-form-container > img {
  margin: 2rem 0 5rem 0;
}

@media only screen and (min-width: 1280px) {
  #account-form-container {
    width: 500px;
  }
}
