.account {
  background-color: #ffffff;
  display: flex;
  width: 100%;
}

.account-side-image {
  flex: 1;
  min-height: 100vh;
  max-height: 100%;
  background-image: url('../../assets/side-image.svg');
  background-size: cover;
}

.account-form {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
