#single-field label {
  display: block;
  margin: 1.75rem 0 0.5rem 0;
}

#single-field input {
  width: 100%;
  border: 1px solid;
  border-color: #e7e6e4;
  border-radius: 0.75rem;
  padding: 0.75rem;
}

#single-field .icon-input {
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
}